@model SQLServerToCouchbase.Core.Shopping.ShoppingCart
@{
    ViewBag.Title = Model.User + "'s Shopping Cart";
}

<p>@Html.ActionLink("<- Back to list of shopping carts","Index")</p>

<h2>@Model.User's Shopping Cart</h2>

<p>Created on <strong>@Model.DateCreated</strong></p>

<h2>Items</h2>

@if (Model.Items == null || !Model.Items.Any())
{
    <p>There are no items in this shopping cart.</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("c")</td>
                <td>@item.Quantity</td>
                <td>@item.Total.ToString("c")</td>
            </tr>
        }
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>@(Model.Items.Sum(i => i.Total).ToString("c"))</strong></td>
        </tr>
    </table>
}

<h2>Add Item</h2>

@using (Html.BeginForm("AddItem","ShoppingCart",FormMethod.Post))
{
    @Html.Hidden("cartId", @Model.Id)
    <p>@Html.TextBox("Name", "", new { placeholder = "Name"}) Name</p>
    <p>@Html.TextBox("Price", "", new { placeholder = "Price", type = "number", step=".01", min=".01" }) Price</p>
    <p>@Html.TextBox("Quantity", "", new { placeholder = "Quantity", type="number", step="1", min="1" }) Quantity</p>
    <input type="submit" value="Add to Cart" class="btn btn-info" />
}